.Background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.Background {
  z-index: 1;
  background-image: url('./ground.png'), url('./bush.png'), url('./sky.png');
  background-size: 300px, 200px, 300px;
  background-color: #f8e0b0;
  background-repeat: repeat-x, repeat-x, repeat-x;
  background-position: left 0px bottom -110px, left 0px bottom 60px,
    left 0px bottom 80px;
  transition: background-position 150ms ease-out;
}
